<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div id="page">

      <div id="map"></div>

      <div class="container">
      <div class="row">
      <div class="col-sm-12 col-md-5">

      {% include header.html %}

      </div>
      <div class="col-sm-12 col-md-7">
      
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>

      </div>
      </div>
      </div>

      {% include footer.html leaflet=true %}
      
    </div>

     <script src="./js/script.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key={{site.google_maps_api}}&callback=initMap"
    async defer></script>

  </body>

</html>
